<!DOCTYPE html>
<html lang="en">
  <%- include("layout/head.ejs")%>
  <body>
    <%- include("layout/header.ejs") %>
    <section class="skin_concern-page">
      <div class="skin_concern-header">
        <picture>
          <source
            srcset="/assets/pictures/naslovna_resenje/850px/<%=image%>.webp"
            media="(max-width: 850px)"
          />
          <img
            loading="lazy"
            src="/assets/pictures/naslovna_resenje/<%= image %>.webp"
            alt="<%=header.h%>"
          />
        </picture>

        <div class="skin_concern-header_content">
          <h1><%= header.h %></h1>
          <p class="skin_concern-header_p"><%= header.p %></p>
          <p class="skin_concern-header_p small"><%= header.pSmall %></p>
        </div>
      </div>
      <div class="products_container">
        <% products.forEach((product) => { %>
        <a href="/proizvod/<%= product.id %>">
          <div class="product_card">
            <img
              loading="lazy"
              src="/assets/pictures/products/<%= product.image %>.webp"
              alt="<%=product.name%>"
            />
            <h3 class="product_title"><%= product.name %></h3>
            <% if (product.sale) { %>
            <p class="product_price original_price"><%= product.price %> RSD</p>
            <p class="product_price sale_price">
              <%= product.sale_price %> RSD
            </p>
            <% } else { %>
            <p class="product_price"><%= product.price %> RSD</p>
            <% } %> <% if(product.amount < 1 ) { %>
            <p class="out_of_stock">Nema na stanju</p>
            <% } else { %>
            <button data-id="<%= product.id %>" id="add-to-cart">
              Dodaj u korpu
            </button>
            <% }%>
          </div></a
        >
        <% }) %>
      </div>
    </section>
    <%- include("layout/footer.ejs") %>
  </body>
</html>
